.cart{
    position: absolute;
    z-index: 999;
    background-color: white;
    height: fit-content;
    padding: 10px 30px 30px 30px;
    right: 30px;
    top: 65px;

    // pake shadow box generator
    box-shadow: 30px 28px 49px -13px rgba(0,0,0,0.21);
    -webkit-box-shadow: 30px 28px 49px -13px rgba(0,0,0,0.21);
    -moz-box-shadow: 30px 28px 49px -13px rgba(0,0,0,0.21);

    border-radius: 0 0 8px 8px;

    h2 {
        margin-bottom: 30px;
        font-weight: 400;
        color: #777;
        font-style: 24px;
    }

    .item{
        display: flex;
        gap: 20px;
        margin-bottom: 15px;
        align-items: center;
        // justify-content: space-between;

        .details{
            h4{
                margin-bottom: 20px;
                font-weight: 500;
                color: #777;
                font-size: 18px;
            }

            p{
                color: #777;
                margin: 10px;
            }
        }

        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }

        .delete{
            cursor: pointer;
            color: red;
            
        }
    }

    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    
    button{
        width: 100%;
        background-color: #777;
        color: white;
        font-style: 18px;
        font-weight: 700;
        align-items: center;
        cursor: pointer;
        border: none;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;

        &:hover{
            background-color: #555;
        }
    }

    .reset{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        color: salmon;
        cursor: pointer;
    }

    
}